[Unit]
Description=V2ray service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/env /usr/local/bin/v2ray -config /etc/v2ray/config.json

[Install]
WantedBy=multi-user.target
